<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.EmployeeMapper">
    <select id="getAll" resultType="Employee">
        SELECT *
        FROM employee;
    </select>

    <insert id="insert" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee (company_id, name, age)
        VALUES (#{company_id}, #{name}, ${age});
    </insert>

    <select id="getById" resultType="Employee">
        select *
        from employee
        where id = #{id}
    </select>

    <select id="getByCompanyId" resultType="Employee">
        select *
        from employee
        where company_id = #{company_id}
    </select>

    <update id="update" parameterType="Employee">
        update employee
        <choose>
            <when test="company_id != null">
                set company_id = #{company_id}
            </when>
            <when test="name != null">
                set name = #{name}
            </when>
            <when test="age != null">
                set age =  ${age}
            </when>
        </choose>
        where id = #{id}
    </update>


</mapper>
