<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.EmployeeMapper">
    <select id="getAll" resultType="Employee">
        SELECT *
        FROM employee;
    </select>

    <insert id="insert" parameterType="Employee" useGeneratedKeys = "true" keyProperty = "id">
        INSERT INTO employee (company_id, name, age) VALUES (#{company_id}, #{name}, ${age});
    </insert>

</mapper>
